# Analyzing Categorical Data
These notebooks will follow the several resources I am using to better understand Statistics.

In this unit, I will cover the following:
- Analyzing one categorical variable
- Two-way tables
- Distributions in two-way tables

## Importing the data

### to-do's

- Explain where I got the data
- What the data represents
- That it's pre-cleaned (?) and that's okay, because that isn't the focus of this lesson
- Include link to source

### Import the libraries

In [3]:
import pandas as pd
import numpy as np
# import seaborn as sns

### Import the data

In [6]:
# https://www.kaggle.com/datasets/arnavsmayan/amazon-prime-userbase-dataset

In [8]:
amazon_users = pd.read_csv('Data/amazon_prime_users.csv')
amazon_users.head()

,User ID,Name,Email Address,Username,Date of Birth,Gender,Location,Membership Start Date,Membership End Date,Subscription Plan,Payment Information,Renewal Status,Usage Frequency,Purchase History,Favorite Genres,Devices Used,Engagement Metrics,Feedback/Ratings,Customer Support Interactions
0,1,Ronald Murphy,williamholland@example.com,williamholland,1953-06-03,Male,Rebeccachester,2024-01-15,2025-01-14,Annual,Mastercard,Manual,Regular,Electronics,Documentary,Smart TV,Medium,3.6,3
1,2,Scott Allen,scott22@example.org,scott22,1978-07-08,Male,Mcphersonview,2024-01-07,2025-01-06,Monthly,Visa,Manual,Regular,Electronics,Horror,Smartphone,Medium,3.8,7
2,3,Jonathan Parrish,brooke16@example.org,brooke16,1994-12-06,Female,Youngfort,2024-04-13,2025-04-13,Monthly,Mastercard,Manual,Regular,Books,Comedy,Smart TV,Low,3.3,8
3,4,Megan Williams,elizabeth31@example.net,elizabeth31,1964-12-22,Female,Feliciashire,2024-01-24,2025-01-23,Monthly,Amex,Auto-renew,Regular,Electronics,Documentary,Smart TV,High,3.3,7
4,5,Kathryn Brown,pattersonalexandra@example.org,pattersonalexandra,1961-06-04,Male,Port Deborah,2024-02-14,2025-02-13,Annual,Visa,Auto-renew,Frequent,Clothing,Drama,Smart TV,Low,4.3,1

## Investigating the data
This section can look at 'individuals', categorical vars/data

### to-do's

- Print out the data using various methods
- Look at data types
- Print out columns
- Define definitions above with concrete examples --> do we want to link back to these in the future?

columns

In [9]:
# columns and column types
# there are nominal, ordinal, and discrete variables
amazon_users.columns

Index(['User ID', 'Name', 'Email Address', 'Username', 'Date of Birth',
       'Gender', 'Location', 'Membership Start Date', 'Membership End Date',
       'Subscription Plan', 'Payment Information', 'Renewal Status',
       'Usage Frequency', 'Purchase History', 'Favorite Genres',
       'Devices Used', 'Engagement Metrics', 'Feedback/Ratings',
       'Customer Support Interactions'],
      dtype='object')

In [10]:
amazon_users.dtypes

User ID                            int64
Name                              object
Email Address                     object
Username                          object
Date of Birth                     object
Gender                            object
Location                          object
Membership Start Date             object
Membership End Date               object
Subscription Plan                 object
Payment Information               object
Renewal Status                    object
Usage Frequency                   object
Purchase History                  object
Favorite Genres                   object
Devices Used                      object
Engagement Metrics                object
Feedback/Ratings                 float64
Customer Support Interactions      int64
dtype: object

## Analyzing one categorical variable

### to-do's

- Charts: pictographs, bar charts, pie charts

## Two-way Tables

### to-do's

- Better explanations of each relative frequency table
- Noting whether or not there's a relationship between gender and engagement or engagement and gender
- How to distinguish and identify how to answer these questions from a given relative frequency table

### Preparation

Nominal vs Ordinal
Nominal data is non-numerical data without any intrinsic order to it. For instance, car brands like *chevrolet, buick, and ford* doesn't imply that *chevrolet* must come before the other two brands. Whereas with ordinal data, order does matter. For instance, with the amazon users dataset, the `Engagement Metrics` is an ordinal variable with the following ordered set of values: `Low, Medium, High`.

Let's make sure we make this designation below:

In [11]:
# This removes the name 'Engagement Metrics' when reassigning to the df's columns in next cell
grouped_categories = pd.Categorical(['Low', 'Medium', 'High'], categories=['Low', 'Medium', 'High'])

In [12]:
# count how many of each engagement metrics occurs for each gender in the dataset
two_way_table = amazon_users[['Gender', 'Engagement Metrics']].groupby(['Gender','Engagement Metrics']).value_counts()
# remove index hierarchy in preparation to create two-way table formatting
two_way_table = two_way_table.reset_index()
# format table
two_way_table = two_way_table.pivot_table('count', 'Gender', 'Engagement Metrics')
# add columns with pre-defined order
two_way_table.columns = grouped_categories

In [13]:
# row totals
two_way_table['total'] = two_way_table.apply(lambda x: np.sum(x), axis = 1)
# column totals
two_way_table.loc['total'] = two_way_table.sum()
# return table
two_way_table

          Low  Medium   High   total
Gender
Female  434.0   405.0  401.0  1240.0
Male    411.0   416.0  433.0  1260.0
total   845.0   821.0  834.0  2500.0

### % Grand total

This relative frequency table displays the proportion of each unique observation in the dataset. For instance, out of all 2500 users, 17.36% were female users with low engagement.

In [14]:
nrows = len(two_way_table)
ncols = len(two_way_table.columns)
two_way_table.apply(lambda x: 100 * x / two_way_table.iloc[nrows - 1, ncols - 1])

          Low  Medium   High  total
Gender
Female  17.36   16.20  16.04   49.6
Male    16.44   16.64  17.32   50.4
total   33.80   32.84  33.36  100.0

Here we can see that there is roughly equal partitioning of gender, engagement metrics, and the combinations of the two variables.

### % Row totals

Creating relative frequency tables based off of the row totals provides a slightly different representation of the dataset. This method gives the proportion of the column variable present in all of the occurrences of the row variable. For example, for all women, what percentage of women had low, medium, or high engagement metrics.

In [15]:
two_way_table.apply(lambda x: 100 * x / x[-1], axis=1)

C:\Users\chris\AppData\Local\Temp\ipykernel_18208\1301400946.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  two_way_table.apply(lambda x: 100 * x / x[-1], axis=1)

              Low     Medium       High  total
Gender
Female  35.000000  32.661290  32.338710  100.0
Male    32.619048  33.015873  34.365079  100.0
total   33.800000  32.840000  33.360000  100.0

### % Col totals

Similarly to the row total approach, two-way relative frequency tables with column totals shows the proportion of each row variable for all instances of a column variable. In the case shown below, this can be interpreted as considering the gender breakdown for low engagement users.

The nuanced difference is the frame of reference, or the denominator of each fraction/proportion/percentage.

In [16]:
two_way_table.apply(lambda x: 100 * x / x[-1])

C:\Users\chris\AppData\Local\Temp\ipykernel_18208\2754801239.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  two_way_table.apply(lambda x: 100 * x / x[-1])

               Low      Medium        High  total
Gender
Female   51.360947   49.330085   48.081535   49.6
Male     48.639053   50.669915   51.918465   50.4
total   100.000000  100.000000  100.000000  100.0

# Extraneous

In [17]:
for i in range(1000):
    for j in range(1000,0):
        # if i * j > ((i + j) / 2)**2:
        print(i,j)

In [18]:
lst = [i * (1000 - i) for i in range(1000)]
for i in range(1000):
    j = 1000 - i
    avg = (i + j) / 2
    prod = j * i
    print(i, j, avg, prod)

0 1000 500.0 0
1 999 500.0 999
2 998 500.0 1996
3 997 500.0 2991
4 996 500.0 3984
5 995 500.0 4975
6 994 500.0 5964
7 993 500.0 6951
8 992 500.0 7936
9 991 500.0 8919
10 990 500.0 9900
11 989 500.0 10879
12 988 500.0 11856
13 987 500.0 12831
14 986 500.0 13804
15 985 500.0 14775
16 984 500.0 15744
17 983 500.0 16711
18 982 500.0 17676
19 981 500.0 18639
20 980 500.0 19600
21 979 500.0 20559
22 978 500.0 21516
23 977 500.0 22471
24 976 500.0 23424
25 975 500.0 24375
26 974 500.0 25324
27 973 500.0 26271
28 972 500.0 27216
29 971 500.0 28159
30 970 500.0 29100
31 969 500.0 30039
32 968 500.0 30976
33 967 500.0 31911
34 966 500.0 32844
35 965 500.0 33775
36 964 500.0 34704
37 963 500.0 35631
38 962 500.0 36556
39 961 500.0 37479
40 960 500.0 38400
41 959 500.0 39319
42 958 500.0 40236
43 957 500.0 41151
44 956 500.0 42064
45 955 500.0 42975
46 954 500.0 43884
47 953 500.0 44791
48 952 500.0 45696
49 951 500.0 46599
50 950 500.0 47500
51 949 500.0 48399
52 948 500.0 49296
53 947 500.0 50191
54 946 500.0 51084
55 945 500.0 51975
56 944 500.0 52864
57 943 500.0 53751
58 942 500.0 54636
59 941 500.0 55519
60 940 500.0 56400
61 939 500.0 57279
62 938 500.0 58156
63 937 500.0 59031
64 936 500.0 59904
65 935 500.0 60775
66 934 500.0 61644
67 933 500.0 62511
68 932 500.0 63376
69 931 500.0 64239
70 930 500.0 65100
71 929 500.0 65959
72 928 500.0 66816
73 927 500.0 67671
74 926 500.0 68524
75 925 500.0 69375
76 924 500.0 70224
77 923 500.0 71071
78 922 500.0 71916
79 921 500.0 72759
80 920 500.0 73600
81 919 500.0 74439
82 918 500.0 75276
83 917 500.0 76111
84 916 500.0 76944
85 915 500.0 77775
86 914 500.0 78604
87 913 500.0 79431
88 912 500.0 80256
89 911 500.0 81079
90 910 500.0 81900
91 909 500.0 82719
92 908 500.0 83536
93 907 500.0 84351
94 906 500.0 85164
95 905 500.0 85975
96 904 500.0 86784
97 903 500.0 87591
98 902 500.0 88396
99 901 500.0 89199
100 900 500.0 90000
101 899 500.0 90799
102 898 500.0 91596
103 897 500.0 92391
104 896 500.0 93184
105 895 500.0 93975
106 894 500.0 94764
107 893 500.0 95551
108 892 500.0 96336
109 891 500.0 97119
110 890 500.0 97900
111 889 500.0 98679
112 888 500.0 99456
113 887 500.0 100231
114 886 500.0 101004
115 885 500.0 101775
116 884 500.0 102544
117 883 500.0 103311
118 882 500.0 104076
119 881 500.0 104839
120 880 500.0 105600
121 879 500.0 106359
122 878 500.0 107116
123 877 500.0 107871
124 876 500.0 108624
125 875 500.0 109375
126 874 500.0 110124
127 873 500.0 110871
128 872 500.0 111616
129 871 500.0 112359
130 870 500.0 113100
131 869 500.0 113839
132 868 500.0 114576
133 867 500.0 115311
134 866 500.0 116044
135 865 500.0 116775
136 864 500.0 117504
137 863 500.0 118231
138 862 500.0 118956
139 861 500.0 119679
140 860 500.0 120400
141 859 500.0 121119
142 858 500.0 121836
143 857 500.0 122551
144 856 500.0 123264
145 855 500.0 123975
146 854 500.0 124684
147 853 500.0 125391
148 852 500.0 126096
149 851 500.0 126799
150 850 500.0 127500
151 849 500.0 128199
152 848 500.0 128896
153 847 500.0 129591
154 846 500.0 130284
155 845 500.0 130975
156 844 500.0 131664
157 843 500.0 132351
158 842 500.0 133036
159 841 500.0 133719
160 840 500.0 134400
161 839 500.0 135079
162 838 500.0 135756
163 837 500.0 136431
164 836 500.0 137104
165 835 500.0 137775
166 834 500.0 138444
167 833 500.0 139111
168 832 500.0 139776
169 831 500.0 140439
170 830 500.0 141100
171 829 500.0 141759
172 828 500.0 142416
173 827 500.0 143071
174 826 500.0 143724
175 825 500.0 144375
176 824 500.0 145024
177 823 500.0 145671
178 822 500.0 146316
179 821 500.0 146959
180 820 500.0 147600
181 819 500.0 148239
182 818 500.0 148876
183 817 500.0 149511
184 816 500.0 150144
185 815 500.0 150775
186 814 500.0 151404
187 813 500.0 152031
188 812 500.0 152656
189 811 500.0 153279
190 810 500.0 153900
191 809 500.0 154519
192 808 500.0 155136
193 807 500.0 155751
194 806 500.0 156364
195 805 500.0 156975
196 804 500.0 157584
197 803 500.0 158191
198 802 500.0 158796
199 801 500.0 159399
200 800 500.0 160000
201 799 500.0 160599
202 798 500.0 161196
203 797 500.0 161791
204 796 500.0 162384
205 795 500.0 162975
206 794 500.0 163564
207 793 500.0 164151
208 792 500.0 164736
209 791 500.0 165319
210 790 500.0 165900
211 789 500.0 166479
212 788 500.0 167056
213 787 500.0 167631
214 786 500.0 168204
215 785 500.0 168775
216 784 500.0 169344
217 783 500.0 169911
218 782 500.0 170476
219 781 500.0 171039
220 780 500.0 171600
221 779 500.0 172159
222 778 500.0 172716
223 777 500.0 173271
224 776 500.0 173824
225 775 500.0 174375
226 774 500.0 174924
227 773 500.0 175471
228 772 500.0 176016
229 771 500.0 176559
230 770 500.0 177100
231 769 500.0 177639
232 768 500.0 178176
233 767 500.0 178711
234 766 500.0 179244
235 765 500.0 179775
236 764 500.0 180304
237 763 500.0 180831
238 762 500.0 181356
239 761 500.0 181879
240 760 500.0 182400
241 759 500.0 182919
242 758 500.0 183436
243 757 500.0 183951
244 756 500.0 184464
245 755 500.0 184975
246 754 500.0 185484
247 753 500.0 185991
248 752 500.0 186496
249 751 500.0 186999
250 750 500.0 187500
251 749 500.0 187999
252 748 500.0 188496
253 747 500.0 188991
254 746 500.0 189484
255 745 500.0 189975
256 744 500.0 190464
257 743 500.0 190951
258 742 500.0 191436
259 741 500.0 191919
260 740 500.0 192400
261 739 500.0 192879
262 738 500.0 193356
263 737 500.0 193831
264 736 500.0 194304
265 735 500.0 194775
266 734 500.0 195244
267 733 500.0 195711
268 732 500.0 196176
269 731 500.0 196639
270 730 500.0 197100
271 729 500.0 197559
272 728 500.0 198016
273 727 500.0 198471
274 726 500.0 198924
275 725 500.0 199375
276 724 500.0 199824
277 723 500.0 200271
278 722 500.0 200716
279 721 500.0 201159
280 720 500.0 201600
281 719 500.0 202039
282 718 500.0 202476
283 717 500.0 202911
284 716 500.0 203344
285 715 500.0 203775
286 714 500.0 204204
287 713 500.0 204631
288 712 500.0 205056
289 711 500.0 205479
290 710 500.0 205900
291 709 500.0 206319
292 708 500.0 206736
293 707 500.0 207151
294 706 500.0 207564
295 705 500.0 207975
296 704 500.0 208384
297 703 500.0 208791
298 702 500.0 209196
299 701 500.0 209599
300 700 500.0 210000
301 699 500.0 210399
302 698 500.0 210796
303 697 500.0 211191
304 696 500.0 211584
305 695 500.0 211975
306 694 500.0 212364
307 693 500.0 212751
308 692 500.0 213136
309 691 500.0 213519
310 690 500.0 213900
311 689 500.0 214279
312 688 500.0 214656
313 687 500.0 215031
314 686 500.0 215404
315 685 500.0 215775
316 684 500.0 216144
317 683 500.0 216511
318 682 500.0 216876
319 681 500.0 217239
320 680 500.0 217600
321 679 500.0 217959
322 678 500.0 218316
323 677 500.0 218671
324 676 500.0 219024
325 675 500.0 219375
326 674 500.0 219724
327 673 500.0 220071
328 672 500.0 220416
329 671 500.0 220759
330 670 500.0 221100
331 669 500.0 221439
332 668 500.0 221776
333 667 500.0 222111
334 666 500.0 222444
335 665 500.0 222775
336 664 500.0 223104
337 663 500.0 223431
338 662 500.0 223756
339 661 500.0 224079
340 660 500.0 224400
341 659 500.0 224719
342 658 500.0 225036
343 657 500.0 225351
344 656 500.0 225664
345 655 500.0 225975
346 654 500.0 226284
347 653 500.0 226591
348 652 500.0 226896
349 651 500.0 227199
350 650 500.0 227500
351 649 500.0 227799
352 648 500.0 228096
353 647 500.0 228391
354 646 500.0 228684
355 645 500.0 228975
356 644 500.0 229264
357 643 500.0 229551
358 642 500.0 229836
359 641 500.0 230119
360 640 500.0 230400
361 639 500.0 230679
362 638 500.0 230956
363 637 500.0 231231
364 636 500.0 231504
365 635 500.0 231775
366 634 500.0 232044
367 633 500.0 232311
368 632 500.0 232576
369 631 500.0 232839
370 630 500.0 233100
371 629 500.0 233359
372 628 500.0 233616
373 627 500.0 233871
374 626 500.0 234124
375 625 500.0 234375
376 624 500.0 234624
377 623 500.0 234871
378 622 500.0 235116
379 621 500.0 235359
380 620 500.0 235600
381 619 500.0 235839
382 618 500.0 236076
383 617 500.0 236311
384 616 500.0 236544
385 615 500.0 236775
386 614 500.0 237004
387 613 500.0 237231
388 612 500.0 237456
389 611 500.0 237679
390 610 500.0 237900
391 609 500.0 238119
392 608 500.0 238336
393 607 500.0 238551
394 606 500.0 238764
395 605 500.0 238975
396 604 500.0 239184
397 603 500.0 239391
398 602 500.0 239596
399 601 500.0 239799
400 600 500.0 240000
401 599 500.0 240199
402 598 500.0 240396
403 597 500.0 240591
404 596 500.0 240784
405 595 500.0 240975
406 594 500.0 241164
407 593 500.0 241351
408 592 500.0 241536
409 591 500.0 241719
410 590 500.0 241900
411 589 500.0 242079
412 588 500.0 242256
413 587 500.0 242431
414 586 500.0 242604
415 585 500.0 242775
416 584 500.0 242944
417 583 500.0 243111
418 582 500.0 243276
419 581 500.0 243439
420 580 500.0 243600
421 579 500.0 243759
422 578 500.0 243916
423 577 500.0 244071
424 576 500.0 244224
425 575 500.0 244375
426 574 500.0 244524
427 573 500.0 244671
428 572 500.0 244816
429 571 500.0 244959
430 570 500.0 245100
431 569 500.0 245239
432 568 500.0 245376
433 567 500.0 245511
434 566 500.0 245644
435 565 500.0 245775
436 564 500.0 245904
437 563 500.0 246031
438 562 500.0 246156
439 561 500.0 246279
440 560 500.0 246400
441 559 500.0 246519
442 558 500.0 246636
443 557 500.0 246751
444 556 500.0 246864
445 555 500.0 246975
446 554 500.0 247084
447 553 500.0 247191
448 552 500.0 247296
449 551 500.0 247399
450 550 500.0 247500
451 549 500.0 247599
452 548 500.0 247696
453 547 500.0 247791
454 546 500.0 247884
455 545 500.0 247975
456 544 500.0 248064
457 543 500.0 248151
458 542 500.0 248236
459 541 500.0 248319
460 540 500.0 248400
461 539 500.0 248479
462 538 500.0 248556
463 537 500.0 248631
464 536 500.0 248704
465 535 500.0 248775
466 534 500.0 248844
467 533 500.0 248911
468 532 500.0 248976
469 531 500.0 249039
470 530 500.0 249100
471 529 500.0 249159
472 528 500.0 249216
473 527 500.0 249271
474 526 500.0 249324
475 525 500.0 249375
476 524 500.0 249424
477 523 500.0 249471
478 522 500.0 249516
479 521 500.0 249559
480 520 500.0 249600
481 519 500.0 249639
482 518 500.0 249676
483 517 500.0 249711
484 516 500.0 249744
485 515 500.0 249775
486 514 500.0 249804
487 513 500.0 249831
488 512 500.0 249856
489 511 500.0 249879
490 510 500.0 249900
491 509 500.0 249919
492 508 500.0 249936
493 507 500.0 249951
494 506 500.0 249964
495 505 500.0 249975
496 504 500.0 249984
497 503 500.0 249991
498 502 500.0 249996
499 501 500.0 249999
500 500 500.0 250000
501 499 500.0 249999
502 498 500.0 249996
503 497 500.0 249991
504 496 500.0 249984
505 495 500.0 249975
506 494 500.0 249964
507 493 500.0 249951
508 492 500.0 249936
509 491 500.0 249919
510 490 500.0 249900
511 489 500.0 249879
512 488 500.0 249856
513 487 500.0 249831
514 486 500.0 249804
515 485 500.0 249775
516 484 500.0 249744
517 483 500.0 249711
518 482 500.0 249676
519 481 500.0 249639
520 480 500.0 249600
521 479 500.0 249559
522 478 500.0 249516
523 477 500.0 249471
524 476 500.0 249424
525 475 500.0 249375
526 474 500.0 249324
527 473 500.0 249271
528 472 500.0 249216
529 471 500.0 249159
530 470 500.0 249100
531 469 500.0 249039
532 468 500.0 248976
533 467 500.0 248911
534 466 500.0 248844
535 465 500.0 248775
536 464 500.0 248704
537 463 500.0 248631
538 462 500.0 248556
539 461 500.0 248479
540 460 500.0 248400
541 459 500.0 248319
542 458 500.0 248236
543 457 500.0 248151
544 456 500.0 248064
545 455 500.0 247975
546 454 500.0 247884
547 453 500.0 247791
548 452 500.0 247696
549 451 500.0 247599
550 450 500.0 247500
551 449 500.0 247399
552 448 500.0 247296
553 447 500.0 247191
554 446 500.0 247084
555 445 500.0 246975
556 444 500.0 246864
557 443 500.0 246751
558 442 500.0 246636
559 441 500.0 246519
560 440 500.0 246400
561 439 500.0 246279
562 438 500.0 246156
563 437 500.0 246031
564 436 500.0 245904
565 435 500.0 245775
566 434 500.0 245644
567 433 500.0 245511
568 432 500.0 245376
569 431 500.0 245239
570 430 500.0 245100
571 429 500.0 244959
572 428 500.0 244816
573 427 500.0 244671
574 426 500.0 244524
575 425 500.0 244375
576 424 500.0 244224
577 423 500.0 244071
578 422 500.0 243916
579 421 500.0 243759
580 420 500.0 243600
581 419 500.0 243439
582 418 500.0 243276
583 417 500.0 243111
584 416 500.0 242944
585 415 500.0 242775
586 414 500.0 242604
587 413 500.0 242431
588 412 500.0 242256
589 411 500.0 242079
590 410 500.0 241900
591 409 500.0 241719
592 408 500.0 241536
593 407 500.0 241351
594 406 500.0 241164
595 405 500.0 240975
596 404 500.0 240784
597 403 500.0 240591
598 402 500.0 240396
599 401 500.0 240199
600 400 500.0 240000
601 399 500.0 239799
602 398 500.0 239596
603 397 500.0 239391
604 396 500.0 239184
605 395 500.0 238975
606 394 500.0 238764
607 393 500.0 238551
608 392 500.0 238336
609 391 500.0 238119
610 390 500.0 237900
611 389 500.0 237679
612 388 500.0 237456
613 387 500.0 237231
614 386 500.0 237004
615 385 500.0 236775
616 384 500.0 236544
617 383 500.0 236311
618 382 500.0 236076
619 381 500.0 235839
620 380 500.0 235600
621 379 500.0 235359
622 378 500.0 235116
623 377 500.0 234871
624 376 500.0 234624
625 375 500.0 234375
626 374 500.0 234124
627 373 500.0 233871
628 372 500.0 233616
629 371 500.0 233359
630 370 500.0 233100
631 369 500.0 232839
632 368 500.0 232576
633 367 500.0 232311
634 366 500.0 232044
635 365 500.0 231775
636 364 500.0 231504
637 363 500.0 231231
638 362 500.0 230956
639 361 500.0 230679
640 360 500.0 230400
641 359 500.0 230119
642 358 500.0 229836
643 357 500.0 229551
644 356 500.0 229264
645 355 500.0 228975
646 354 500.0 228684
647 353 500.0 228391
648 352 500.0 228096
649 351 500.0 227799
650 350 500.0 227500
651 349 500.0 227199
652 348 500.0 226896
653 347 500.0 226591
654 346 500.0 226284
655 345 500.0 225975
656 344 500.0 225664
657 343 500.0 225351
658 342 500.0 225036
659 341 500.0 224719
660 340 500.0 224400
661 339 500.0 224079
662 338 500.0 223756
663 337 500.0 223431
664 336 500.0 223104
665 335 500.0 222775
666 334 500.0 222444
667 333 500.0 222111
668 332 500.0 221776
669 331 500.0 221439
670 330 500.0 221100
671 329 500.0 220759
672 328 500.0 220416
673 327 500.0 220071
674 326 500.0 219724
675 325 500.0 219375
676 324 500.0 219024
677 323 500.0 218671
678 322 500.0 218316
679 321 500.0 217959
680 320 500.0 217600
681 319 500.0 217239
682 318 500.0 216876
683 317 500.0 216511
684 316 500.0 216144
685 315 500.0 215775
686 314 500.0 215404
687 313 500.0 215031
688 312 500.0 214656
689 311 500.0 214279
690 310 500.0 213900
691 309 500.0 213519
692 308 500.0 213136
693 307 500.0 212751
694 306 500.0 212364
695 305 500.0 211975
696 304 500.0 211584
697 303 500.0 211191
698 302 500.0 210796
699 301 500.0 210399
700 300 500.0 210000
701 299 500.0 209599
702 298 500.0 209196
703 297 500.0 208791
704 296 500.0 208384
705 295 500.0 207975
706 294 500.0 207564
707 293 500.0 207151
708 292 500.0 206736
709 291 500.0 206319
710 290 500.0 205900
711 289 500.0 205479
712 288 500.0 205056
713 287 500.0 204631
714 286 500.0 204204
715 285 500.0 203775
716 284 500.0 203344
717 283 500.0 202911
718 282 500.0 202476
719 281 500.0 202039
720 280 500.0 201600
721 279 500.0 201159
722 278 500.0 200716
723 277 500.0 200271
724 276 500.0 199824
725 275 500.0 199375
726 274 500.0 198924
727 273 500.0 198471
728 272 500.0 198016
729 271 500.0 197559
730 270 500.0 197100
731 269 500.0 196639
732 268 500.0 196176
733 267 500.0 195711
734 266 500.0 195244
735 265 500.0 194775
736 264 500.0 194304
737 263 500.0 193831
738 262 500.0 193356
739 261 500.0 192879
740 260 500.0 192400
741 259 500.0 191919
742 258 500.0 191436
743 257 500.0 190951
744 256 500.0 190464
745 255 500.0 189975
746 254 500.0 189484
747 253 500.0 188991
748 252 500.0 188496
749 251 500.0 187999
750 250 500.0 187500
751 249 500.0 186999
752 248 500.0 186496
753 247 500.0 185991
754 246 500.0 185484
755 245 500.0 184975
756 244 500.0 184464
757 243 500.0 183951
758 242 500.0 183436
759 241 500.0 182919
760 240 500.0 182400
761 239 500.0 181879
762 238 500.0 181356
763 237 500.0 180831
764 236 500.0 180304
765 235 500.0 179775
766 234 500.0 179244
767 233 500.0 178711
768 232 500.0 178176
769 231 500.0 177639
770 230 500.0 177100
771 229 500.0 176559
772 228 500.0 176016
773 227 500.0 175471
774 226 500.0 174924
775 225 500.0 174375
776 224 500.0 173824
777 223 500.0 173271
778 222 500.0 172716
779 221 500.0 172159
780 220 500.0 171600
781 219 500.0 171039
782 218 500.0 170476
783 217 500.0 169911
784 216 500.0 169344
785 215 500.0 168775
786 214 500.0 168204
787 213 500.0 167631
788 212 500.0 167056
789 211 500.0 166479
790 210 500.0 165900
791 209 500.0 165319
792 208 500.0 164736
793 207 500.0 164151
794 206 500.0 163564
795 205 500.0 162975
796 204 500.0 162384
797 203 500.0 161791
798 202 500.0 161196
799 201 500.0 160599
800 200 500.0 160000
801 199 500.0 159399
802 198 500.0 158796
803 197 500.0 158191
804 196 500.0 157584
805 195 500.0 156975
806 194 500.0 156364
807 193 500.0 155751
808 192 500.0 155136
809 191 500.0 154519
810 190 500.0 153900
811 189 500.0 153279
812 188 500.0 152656
813 187 500.0 152031
814 186 500.0 151404
815 185 500.0 150775
816 184 500.0 150144
817 183 500.0 149511
818 182 500.0 148876
819 181 500.0 148239
820 180 500.0 147600
821 179 500.0 146959
822 178 500.0 146316
823 177 500.0 145671
824 176 500.0 145024
825 175 500.0 144375
826 174 500.0 143724
827 173 500.0 143071
828 172 500.0 142416
829 171 500.0 141759
830 170 500.0 141100
831 169 500.0 140439
832 168 500.0 139776
833 167 500.0 139111
834 166 500.0 138444
835 165 500.0 137775
836 164 500.0 137104
837 163 500.0 136431
838 162 500.0 135756
839 161 500.0 135079
840 160 500.0 134400
841 159 500.0 133719
842 158 500.0 133036
843 157 500.0 132351
844 156 500.0 131664
845 155 500.0 130975
846 154 500.0 130284
847 153 500.0 129591
848 152 500.0 128896
849 151 500.0 128199
850 150 500.0 127500
851 149 500.0 126799
852 148 500.0 126096
853 147 500.0 125391
854 146 500.0 124684
855 145 500.0 123975
856 144 500.0 123264
857 143 500.0 122551
858 142 500.0 121836
859 141 500.0 121119
860 140 500.0 120400
861 139 500.0 119679
862 138 500.0 118956
863 137 500.0 118231
864 136 500.0 117504
865 135 500.0 116775
866 134 500.0 116044
867 133 500.0 115311
868 132 500.0 114576
869 131 500.0 113839
870 130 500.0 113100
871 129 500.0 112359
872 128 500.0 111616
873 127 500.0 110871
874 126 500.0 110124
875 125 500.0 109375
876 124 500.0 108624
877 123 500.0 107871
878 122 500.0 107116
879 121 500.0 106359
880 120 500.0 105600
881 119 500.0 104839
882 118 500.0 104076
883 117 500.0 103311
884 116 500.0 102544
885 115 500.0 101775
886 114 500.0 101004
887 113 500.0 100231
888 112 500.0 99456
889 111 500.0 98679
890 110 500.0 97900
891 109 500.0 97119
892 108 500.0 96336
893 107 500.0 95551
894 106 500.0 94764
895 105 500.0 93975
896 104 500.0 93184
897 103 500.0 92391
898 102 500.0 91596
899 101 500.0 90799
900 100 500.0 90000
901 99 500.0 89199
902 98 500.0 88396
903 97 500.0 87591
904 96 500.0 86784
905 95 500.0 85975
906 94 500.0 85164
907 93 500.0 84351
908 92 500.0 83536
909 91 500.0 82719
910 90 500.0 81900
911 89 500.0 81079
912 88 500.0 80256
913 87 500.0 79431
914 86 500.0 78604
915 85 500.0 77775
916 84 500.0 76944
917 83 500.0 76111
918 82 500.0 75276
919 81 500.0 74439
920 80 500.0 73600
921 79 500.0 72759
922 78 500.0 71916
923 77 500.0 71071
924 76 500.0 70224
925 75 500.0 69375
926 74 500.0 68524
927 73 500.0 67671
928 72 500.0 66816
929 71 500.0 65959
930 70 500.0 65100
931 69 500.0 64239
932 68 500.0 63376
933 67 500.0 62511
934 66 500.0 61644
935 65 500.0 60775
936 64 500.0 59904
937 63 500.0 59031
938 62 500.0 58156
939 61 500.0 57279
940 60 500.0 56400
941 59 500.0 55519
942 58 500.0 54636
943 57 500.0 53751
944 56 500.0 52864
945 55 500.0 51975
946 54 500.0 51084
947 53 500.0 50191
948 52 500.0 49296
949 51 500.0 48399
950 50 500.0 47500
951 49 500.0 46599
952 48 500.0 45696
953 47 500.0 44791
954 46 500.0 43884
955 45 500.0 42975
956 44 500.0 42064
957 43 500.0 41151
958 42 500.0 40236
959 41 500.0 39319
960 40 500.0 38400
961 39 500.0 37479
962 38 500.0 36556
963 37 500.0 35631
964 36 500.0 34704
965 35 500.0 33775
966 34 500.0 32844
967 33 500.0 31911
968 32 500.0 30976
969 31 500.0 30039

In [19]:
def fxn(x, avg = 500):
    return x * (avg * 2 - x)

def ddx(x, avg = 500):
    return (avg) - x

In [20]:
fxn(1)

999

In [21]:
ddx(1)

499

In [22]:
for i in [0, 250, 500, 750, 1000]:
    print(f'{i}: {fxn(i)}, {ddx(i)}')

0: 0, 500
250: 187500, 250
500: 250000, 0
750: 187500, -250
1000: 0, -500